@import "tailwindcss";

:root {
  --background-image: radial-gradient(
    ellipse 40% 100% at center top,
    rgba(69, 107, 160, 0.7) 0%,
    rgba(var(--blueDeepDark-rgb), 0.9) 70%,
    rgba(var(--blueDeepDark-rgb), 1) 100%
  );
  --foreground: #171717;
  --blueDeepDark: rgb(29, 31, 78);
  --blueDeepDark-rgb: 26, 44, 70;
  --blueLight: rgba(69, 107, 160, 0.7);
}

@theme inline {
  --background-image-background: var(--background-image);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-blueDeepDark: var(--blueDeepDark);
  --color-blueLight: var(--blueLight);
}
